<header>
    <nav class="navbar">
        <div class="logo">EcomShop</div>
        <ul class="nav-links">
            <li><a href="/shop">Shop</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/cart">Cart</a></li>
        </ul>
    </nav>
</header>